.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */

body {
    font-family: $font-roboto;
    color: #555;
}

a {
    color: $red-med;

    &:hover {
        color: $orange-med;
	text-decoration: none;
    }
}

p {
    font-size: 1.3em;
    font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 40px;
    font-family: $font-ubuntu;
    font-weight: bold;
    padding-bottom:10px;
}

ol {
    li {
        margin-bottom: 20px;
    }
}

pre {
    margin: 20px auto;
}

code {
    background: lighten($orange-med, 40%);
    color: darken($orange-med, 10%);
}

hr {
    margin: 60px auto;
}