nav {
    @extend .clearfix;
    background: $grey-dark;

    .logo {
        padding: 10px;
        float: left;
        
        a {
            font-family: $font-lato;
            color: #999;
            font-size: 25px;
            border-bottom: none;
        }
    }

    .menu {
        float: right;
        ul {
            list-style-type: none;
            text-align: right;
            margin: 0;
            padding: 0;
            font-size: 0;

            li {
                display: inline-block;
                font-family: $font-mont;
                font-size: 14px;
                line-height: $nav-height;
                text-transform: uppercase;
                
                a {
                    transition: color .3s ease 0s;
                    padding: 5px 20px;
                    display: block;
                    color: darken($gold, 10%);
                    font-size: 14px;
                    font-weight: bold;
                    position: relative;
                    border-bottom: none;
                    
                    &:after {
                        position: absolute;
                        content: '';
                        height: 3px;
                        background: transparent;
                        left: 0;
                        right: 0;
                        bottom: 15px;
                        transform: translateY(50%);
                        display: block;
                        transition: background .3s ease 0s;
                    }
                }
                
                &.active a:after, &:hover a:after {
                    background: darken($gold, 20%);
                }
            }
        }
    }
}